* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    font-family: "Cairo", sans-serif;
}

/* Center Layout */

.signup-wrapper {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */

.signup-card {
    background: white;
    padding: 35px;
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.8s ease;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Floating Inputs */

.floating-input {
    position: relative;
}

.floating-input input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.floating-input label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
    transition: 0.3s ease;
    background: white;
    padding: 0 6px;
}

/* Animation Effect */

.floating-input input:focus,
.floating-input input:valid {
    border-color: #4facfe;
}

.floating-input input:focus+label,
.floating-input input:valid+label {
    top: -7px;
    font-size: 11px;
    color: #4facfe;
}

/* Button */

.signup-btn {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: none;
    padding: 12px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.signup-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Link */

.signup-card a {
    text-decoration: none;
    color: #4facfe;
}

.signup-card a:hover {
    text-decoration: underline;
}